@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    background-color:  rgb(180, 219, 251);
}

.titre_principal{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    font-size: 6vh;
    color: black;
    text-shadow: 2px 2px white;
    margin-top: 11vh;
    text-align: center;
}
  
.titre_header{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    color: black;
    text-shadow: 1px 1px grey;
    text-align: center;
    display: inline-block;
    transition-duration: 0.4s;
  }
  
  .titre_header:hover{
    color: rgb(184, 9, 9);
  }
  
  .flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar {
    top:0;
    position: fixed;
    background-color:  rgba(132, 181, 201, 1);
    display: flex;
    box-shadow: 0px 5px 20px black;
    align-items: center;
    padding: var(--navbar-padding, 1.2rem);
    height: 11vh;
    width: 100%;
    z-index: 1000;
  }

  .map{
    display: block;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
  }

  #div1, #div2, #div3, #div4 {
    position: relative;
    width: 18%;
    height:18%;
    margin: 2%;
  }
  
  #div5, #div6, #div7, #div8 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    outline: solid black;
    padding:1%;
    width: 20%;
    height:20%;
    margin: 1%;
  }

  #div1:hover, #div2:hover, #div3:hover, #div4:hover, #div5:hover, #div6:hover, #div7:hover, #div8:hover {
    cursor: pointer;
  }

  .maskV {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 0, 0.5);
    z-index: 1;
  }
  
  .maskF {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.5);
    z-index: 1;
  }
  
  
  .playButton {
    background-color: #111827;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
  }
  
  .playButton:hover {
    background-color: #374151;
  }
  
  .playButton:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  
  @media (min-width: 768px) {
    .playButton {
      padding: .75rem 1.5rem;
    }
  }

  #suggestion {
    background-color: white;
    color: black;
    font-size: 20px;
    border: 2px solid black;
    padding: 5px;
    width: 300px;
  }

  .infos1{
    font-size: 150%;
    color: black;
    margin-top: 8%;
    margin-bottom: 4%;
  }
  
  .infos2{
    font-size: 150%;
    color: black;
    margin-top: 2%;
    margin-bottom: 4%;
  }

  .easy {
    background-color: green;
  }
  
  .easy:hover {
    background-color: rgb(15, 206, 15);
  }
  
  .hard {
    background-color: darkred;
  }
  
  .hard:hover {
    background-color: red;
  }
  
  .countries {
    background-color: rgb(104, 62, 0);
  }
  
  .countries:hover {
    background-color: rgb(163, 83, 8);
  }
  
  .capitals {
    background-color: rgb(8, 23, 163);
  }
  
  .capitals:hover {
    background-color: rgb(0, 58, 250);
  }
  


  @keyframes strokePulse {
    0% {
      stroke-width: 0px;
      stroke: rgb(5, 94, 27);
    }
    50% {
      stroke-width: 3px;
      stroke: rgb(5, 94, 27);
    }
    100% {
      stroke-width: 0px;
      stroke: rgb(5, 94, 27);
    }
  }
  
  .pulsing-stroke {
    animation: strokePulse 3s infinite;
    fill: green;
  }